body {
  background-color: RGB(48, 48, 48);
}

title, h1, h2, body, label, th, td {
  color: white;
  font-family: sans-serif;
}

p {
  color: red;
  font-family: sans-serif;
  padding: 30px;
}

table{
  border: 2 px solid;
  width: 100%;
  border-collapse: collapse;
}