body {
  background-color: RGB(48, 48, 48);
}

title, h1, h2, body, label, th, td {
  color: white;
  font-family: monospace;
}

p {
  color: white;
  font-family: monospace;
  padding: 30px;
}

table{
  border: 2 px solid;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center;
}

.dataTables_length, .dataTables_filter, .dataTables_paginate {
  color: white !important;
}

.dataTables_length option {
  background-color: #1a1a1a;
  color: white;
}